<%= turbo_frame_tag 'results' do %>
  <% query ||= nil && results ||= nil %>

  <% if results.present? %>
    <% results.each do |result| %>
      <div>
        <%= render result %>
      </div>
    <% end %>
  <% elsif query.present? %>
    <div class="mx-auto p-12 text-gray-500 font-bold">No Results</div>
  <% end %>
<% end %>