<%= turbo_frame_tag 'results' do %>
  <% query ||= nil && results ||= nil && nav ||= nil %>

  <% if results.present? %>
    <% results.each do |result| %>
      <div>
        <%= render result %>
      </div>
    <% end %>
    <% if nav.present? %>
      <div class="text-center mb-4">
        <%== render 'shared/pagination_nav', nav: nav, location: search_path, params: { query: query } %>
      </div>
    <% end %>
  <% elsif query.present? %>
    <div class="mx-auto p-12 text-gray-500 font-bold">No Results</div>
  <% end %>
<% end %>