<div class="inline-flex h-full w-full">
  <div class="w-full">
    <%= render 'search/searchbar', placeholder: 'Search', preload: false %>
    <%= render 'search/results_container' %>
  </div>

</div>
