<div class="w-full">
  <div class="relative bg-white py-16">
    <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl">
      <h2 class="text-base font-semibold tracking-wider text-cyan-600 uppercase">My Fresh App</h2>
      <p class="mt-2 text-5xl font-extrabold text-gray-900 tracking-tight">
        A simple thing.
      </p>
      <p class="mt-5 max-w-prose mx-auto text-xl text-gray-500">
        This app is a fresh clone of the unofficial Rail Hotwire Starter Template. Lets go!!!
      </p>
      <div class="mx-auto my-8">
        <%= link_to "Sign me Up!", new_user_registration_path, class: "rounded-lg p-6 border border-dashed border-gray-900 font-extrabold tracking-wider text-gray-700 block text-xl w-1/2 mx-auto hover:bg-gray-600 hover:text-gray-200 " %>
      </div>
      <!--      <h2 class="text-base text-lg border-b font-semibold tracking-wider uppercase">Check it out!</h2>-->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        <div class="p-8 rounded-md w-full border-dotted rotate-1 shadow m-4">
          Item 1
        </div>
        <div class="p-8 rounded-md w-full border-dotted -rotate-1 shadow m-4">
          Item 2
        </div>
        <div class="p-8 rounded-md w-full border-dotted rotate-1 shadow m-4">
          Item 3
        </div>
        <div class="p-8 rounded-md w-full border-dotted -rotate-2 shadow m-4">
          Item 4
        </div>
        <div class="p-8 rounded-md w-full border-dotted rotate-1 shadow m-4">
          Item 5
        </div>
        <div class="p-8 rounded-md w-full border-dotted -rotate-2 shadow m-4">
          Item 6
        </div>
      </div>

      <div class="mx-auto my-8">
        <%= link_to "Sign me Up!", new_user_registration_path, class: "rounded-lg p-6 border border-dashed border-gray-900 font-extrabold tracking-wider text-gray-700 block text-xl w-1/2 mx-auto hover:bg-gray-600 hover:text-gray-200 " %>
      </div>
    </div>
  </div>
</div>
