<li class="block hover:bg-gray-50">
  <div class="px-4 py-4 items-center sm:px-6 w-full w-full">
    <%= link_to page.url, class: 'grow' do %>
      <div class="items-center justify-between">
        <div class="truncate">
          <div class="grid text-sm">
            <p class="font-medium text-indigo-600 "><%= page&.title %></p>
            <p class="font-normal text-gray-500 truncate"><%= page.url %></p>
          </div>
          <div class="mt-1">
            <div class=" items-center text-xs text-gray-500 truncate">
              <p class="truncate">
                <%= page&.excerpt %>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
<!--    <div class="mt-4">-->
<!--      <div class="flex items-center">-->
<!--        <div class="">-->
<!--          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-indigo-400 hover:text-indigo-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">-->
<!--            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>-->
<!--          </svg>-->
<!--        </div>-->
<!--        <div class="flex ml-2  overflow-hidden -space-x-1">-->
          <%# page.sourcer_accounts.first(5).each do |a| %>
            <%# if a.profile.avatar.attached? %>
              <%#= image_tag a.profile.avatar, class: 'inline-block h-6 w-6 rounded-full ring-2 ring-white' %>
            <%# else %>
<!--              <div class="inline-block h-6 w-6 rounded-full ring-2 ring-white bg-gray-100"><%#= a.nickname[0] %></div>-->
            <%# end %>
          <%# end %>
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</li>